<ul class="index">
  <% @files.each do |file| %>
    <li class="index-item">
      <a href="<%= file %>" class="index-link"><%= file %></a>
      <a href="<%= file %>/edit" class="index-link">edit</a>
      <form class="inline" method="post" action="/<%= file %>/destroy">
        <button type="submit">delete</button>
      </form>
    </li>
  <% end %>
</ul>
<p>
  <a href="/new">New Document</a>
</p>

<% if session[:signedin] %>
  <p>
    <form method="post" action="/users/signout">
      <span>Signed in as <%= session[:username] %>.</span>
      <button type="submit">Sign Out</button>
    </form>
  </p>
<% else %>
  <p>
    <a href="/users/signin">
      <button type="submit">Sign in</button>
    </a>
  </p>
<% end %>
